<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common.css">
    <title>Search Result</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
        integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"
        integrity="sha512-wUYbRPLV5zs6IqvWd88HIqZU/b8TBx+I8LEioQ/UC0t5EMCLApqhIAnUg7EsAzdbhhdgW07TqYDdH3QEXRcPOQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(173, 3, 3);">
        <a class="navbar-brand" href="#">RUGANT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link active" href="dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="watchlist">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="notelist">NoteList</a>
                </li>
            </ul>
        </div>
        <div class="profile">
            <div class="profile-icon" style="margin-left: 50px;">
                <img src="/assets/images/profile-user.png" alt="Profile Icon">
                <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik -
                    Flaticon</a>
            </div>
            <div class="dropdown" style="border-radius: 10px; width: 100px; background-color: rgb(196, 19, 19);">
                <ul>
                    <li><a href="profile">Profile</a></li>
                    <li><a href="logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h2>Stock Data</h2>
    <div>
        <div style="background-color: rgb(173, 3, 3); padding-top: 20px; margin-bottom: 5px;">
            <form action="/searchview" method="GET">
                <input type="text" placeholder="Symbol, eg. AAPL" name="symbol"
                    style="background-color: black; color: red;">
                <select name="select_time" id="select_time" required="true">
                    <option value="" disabled selected>Choose Timeframe</option>
                    <option value="Intraday">Intraday</option>
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                </select>
                <br>
                <button type="submit"
                    style="padding-left: 2%; padding-right: 2%; background-color: black;color: red;">Search</button>
            </form>
        </div>
        <br>
        <br>
        <% if (tempDataStore.length> 0) { %>
            <ul style="background-color: rgb(173, 3, 3);">
                <li
                    style="background-color: rgb(173, 3, 3); color: black; padding: 5px; font-size: 20px; font-weight: 850; text-align: left;">

                    <div style="display: flex; justify-content: space-between;">
                        <div style="display: flex; align-items: center;">
                            <%= symbol %>
                        </div>
                        <div style="display: flex;">
                            <% if (show_add_delete.length===0) { %>
                                <form action="/watchlist/add" method="POST">
                                    <input type="hidden" name="stock_symbol" value="<%= symbol %>">
                                    <button type="submit"
                                        style="background-color: black; color: red; padding: 3px; font-size: 15px; margin: 5px; width: 120px;">Add
                                        to
                                        Watchlist</button>
                                </form>
                                <% } else { %>
                                    <form action="/watchlist/delete/<%= show_add_delete %>?_method=DELETE"
                                        method="POST">

                                        <button type="submit"
                                            style="background-color: black; color: red; padding: 3px; font-size: 15px; margin: 5px; width: 150px;">Delete
                                            from
                                            Watchlist</button>
                                    </form>
                                    <% } %>
                                        <form action="/download" method="GET">
                                            <input type="hidden" name="timing" value="<%= timing %>">
                                            <input type="hidden" name="stock_symbol" value="<%= symbol %>">
                                            <button
                                                style="background-color: black; color: red; padding: 3px; font-size: 15px; margin: 5px; width: 150px;">Download
                                                Data</button>
                                        </form>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6" style="max-width: 100%;">
                        <div class="container mt-3" style="background-color: rgb(173, 3, 3); max-width: 80%;">
                            <p style="color: black; font-size: 20px; font-weight: 600;">Description</p>
                            <div style="max-height: 400px; overflow: auto;">
                                <p class="card-text text-wrap" style="font-size: 16px; color: black; padding: 20px;">
                                    <%= tempDataStore[0].Description %>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" style="max-width: 100%;">
                        <div style="width: 80%; background-color: rgb(173, 3, 3); color: black;">
                            <p style="color: black; font-size: 20px; font-weight: 600;">Market Sentiment</p>
                            <canvas id="barChart" height="100" width="200" style="padding: 10px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <var symbol="<%= symbol %>" id="symbolize"></var>
            <var frame="<%= timing %>" id="timize"></var>


            <div style="background-color: rgb(173, 3, 3); margin-left: 50px; margin-right: 50px;">
                <button onclick="getData('Intraday')"
                    style="background-color: black; color: red; width: fit-content;">Intraday</button>
                <button onclick="getData('Daily')"
                    style="background-color: black; color: red; width: fit-content;">Daily</button>
                <button onclick="getData('Weekly')"
                    style="background-color: black; color: red; width: fit-content;">Weekly</button>
                <button onclick="getData('Monthly')"
                    style="background-color: black; color: red; width: fit-content;">Monthly</button>
            </div>
            <canvas id="myChart" width="400" height="200"
                style="background-color: rgb(173, 3, 3); color: black; margin-left: 50px; margin-right: 50px;"></canvas>
            <script>

                var symboliz = document.getElementById('symbolize').getAttribute('symbol');
                var timez = document.getElementById('timize').getAttribute('frame');
                var angle = document.getElementById('angler').getAttribute('angling');
                function getData(option = 'Intraday') {
                    Promise.all([
                        fetch('/chart-data?symbol=' + symboliz + '&timing=' + `${option}`)
                            .then(response => response.json())
                            .then(data => {
                                const ctx = document.getElementById('myChart').getContext('2d');
                                const canvas = document.getElementById('myChart');
                                // Check if a chart instance already exists
                                if (canvas) {
                                    const context = canvas.getContext('2d');
                                    const xxy = Chart.getChart("myChart");
                                    xxy.destroy();
                                }
                                const chartData = {
                                    labels: data.datesss,
                                    datasets: [{
                                        label: 'Price Graph',
                                        data: data.valuesss,
                                        backgroundColor: 'rgba(255,0,0, 0.2)',
                                        borderColor: 'rgba(0, 0, 0, 1)',
                                        borderWidth: 5
                                    }, {
                                        type: 'bar',
                                        label: 'Volume',
                                        data: data.volumesss,
                                        backgroundColor: 'rgba(0,0,0, 0.2)',
                                        borderColor: 'rgba(0, 0, 0, 1)',
                                    }]
                                };

                                var stch = new Chart(ctx, {
                                    type: 'line', // Change the type based on your chart preference (line, bar, etc.)
                                    data: chartData,
                                    options: {
                                        scales: {
                                            x: {
                                                type: 'linear', // Specify the x-axis type as 'linear' for numerical values
                                                position: 'bottom', // Position the x-axis at the bottom
                                            },
                                            y: {
                                                beginAtZero: false, // Start the y-axis at zero
                                            },
                                        },
                                        plugins: {
                                            zoom: {
                                                zoom: {
                                                    wheel: {
                                                        enabled: true,
                                                    },
                                                    pinch: {
                                                        enabled: true
                                                    },
                                                    mode: 'xy',
                                                }
                                            }
                                        }
                                    }
                                });
                            })
                    ])
                }
            </script>

            <br>
            <p style="color: red; background-color: black; font-weight: bold; font-size: 20px;padding: 10px;">
                DETAILS
            </p>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6" style="max-width: 90%; background-color: rgb(173, 3, 3); color: black;">
                        <table class="table" style="background-color: rgb(173, 3, 3); color: black;">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Paramter</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i<1; i++) { %>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Name</td>
                                        <td>
                                            <%= tempDataStore[i].Name %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Book Value</td>
                                        <td>
                                            <%= tempDataStore[i].BookValue %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Sector</td>
                                        <td>
                                            <%= tempDataStore[i].Sector %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Market Capitalization</td>
                                        <td>
                                            <%= tempDataStore[i].MarketCapitalization %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>EPS</td>
                                        <td>
                                            <%= tempDataStore[i].EPS %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>Dividend Per Share</td>
                                        <td>
                                            <%= tempDataStore[i].DividendPerShare %>
                                        </td>
                                    </tr>
                                    <% }; %>
                            </tbody>
                        </table>

                    </div>

                    <div class="col-md-6" style="max-width: 90%; background-color: rgb(173, 3, 3); color: black;">

                        <table class="table" style="background-color: rgb(173, 3, 3); color: black;">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Paramter</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i<1; i++) { %>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>PEGRatio</td>
                                        <td>
                                            <%= tempDataStore[i].PEGRatio %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>Return on Equity</td>
                                        <td>
                                            <%= tempDataStore[i].ReturnOnEquityTTM %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>Gross Profit</td>
                                        <td>
                                            <%= tempDataStore[i].GrossProfitTTM %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>52 Week High</td>
                                        <td>
                                            <%= tempDataStore[i].WeekHigh %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">11</th>
                                        <td>52 Week Low</td>
                                        <td>
                                            <%= tempDataStore[i].WeekLow %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">12</th>
                                        <td>50 Day Moving Average</td>
                                        <td>
                                            <%= tempDataStore[i].DayMovingAverage %>
                                        </td>
                                    </tr>
                                    <% }; %>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <% }else { %>
                <p>Search for a Stock</p>
                <% } %>
    </div>

    <a href="/watchlist" type="button" style="background-color: black; color: red; padding: 10px;">Back
        To
        WatchList</a>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="application/javascript" src="/script.js"></script>

</body>

</html>