<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common.css">
    <title>Search Result</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: red;">
        <a class="navbar-brand" href="#">RUGANT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link active" href="dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="watchlist">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile">Profile</a>
                </li>
            </ul>
        </div>
        <div>
            <a class="nav-link" href="logout" style="color: black;">Logout</a>
        </div>
    </nav>

    <h2>Stock Data</h2>
    <div>
        <form action="/searchview" method="GET">
            <input type="text" placeholder="Enter Stock Ticker Symbol" name="symbol">
            <select name="select_time" id="select_time" required="true">
                <option value="" disabled selected>Choose Timeframe</option>
                <option value="Intraday">Intraday</option>
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option value="Monthly">Monthly</option>
            </select>
            <button type="submit" style="padding-left: 2%; padding-right: 2%;">Search</button>
        </form>


        <% if (tempDataStore.length> 0) { %>
            <table class="table table-bordered" style="background-color: rgb(243, 10, 10); color: black;">
                <thead>
                    <tr>
                        <th scope="col" style="font-size: 25px;">Company Name</th>
                        <th scope="col" style="font-size: 25px;">Interested</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-size: 30px; font-weight: 700;">
                            <%= symbol %>
                        </td>
                        <td>
                            <form action="/watchlist/add" method="POST">
                                <input type="hidden" name="stock_symbol" value="<%= symbol %>">
                                <button type="submit" style="background-color: black; color: red; padding: 5px;">Add to
                                    Watchlist</button>
                            </form>
                        </td>
                </tbody>
            </table>
            <form action="/download" method="GET">
                <input type="hidden" name="timing" value="<%= timing %>">
                <input type="hidden" name="stock_symbol" value="<%= symbol %>">
                <button style="background-color: red; color: black; padding: 5px; font-size: 30px;">Download
                    Data</button>
            </form>
            <table class="table table-bordered" style="background-color: rgb(243, 10, 10); color: black;">
                <thead>
                    <tr>
                        <th scope=" col">Date</th>
                        <th scope="col">Open</th>
                        <th scope="col">High</th>
                        <th scope="col">Low</th>
                        <th scope="col">Close</th>
                        <th scope="col">Volume</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i<5; i++) { %>
                        <tr>
                            <td>
                                <%= tempDataStore[i].Date %>
                            </td>
                            <td>
                                <%= tempDataStore[i].open %>
                            </td>
                            <td>
                                <%= tempDataStore[i].high %>
                            </td>
                            <td>
                                <%= tempDataStore[i].low %>
                            </td>
                            <td>
                                <%= tempDataStore[i].close %>
                            </td>
                            <td>
                                <%= tempDataStore[i].volume %>
                            </td>
                        </tr>
                        <% }; %>
                </tbody>
            </table>
            <% }else { %>
                <p>Search for a Stock</p>
                <% } %>
    </div>

    <a href="/watchlist" type="button" style="background-color: black; color: red; padding: 10px;">Back To WatchList</a>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>