<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common.css">
    <title>Search Result</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: red;">
        <a class="navbar-brand" href="#">RUGANT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link active" href="dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="watchlist">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile">Profile</a>
                </li>
            </ul>
        </div>
        <div>
            <a class="nav-link" href="logout" style="color: black;">Logout</a>
        </div>
    </nav>

    <h2>Stock Data</h2>
    <div>
        <div style="background-color: red; padding-top: 20px; margin-bottom: 10px;">
            <form action="/searchview" method="GET">
                <input type="text" placeholder="Enter Stock Ticker Symbol" name="symbol"
                    style="background-color: black; color: red;">
                <select name="select_time" id="select_time" required="true">
                    <option value="" disabled selected>Choose Timeframe</option>
                    <option value="Intraday">Intraday</option>
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                </select>
                <br>
                <button type="submit"
                    style="padding-left: 2%; padding-right: 2%; background-color: black;color: red;">Search</button>
            </form>
        </div>


        <% if (tempDataStore.length> 0) { %>
            <table class="table table-bordered" style="background-color: red; color: black;">
                <thead>
                    <tr>
                        <th scope="col" style="font-size: 20px;">Company Name</th>
                        <th scope="col" style="font-size: 20px;">Interested</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-size: 20px; font-weight: 700;">
                            <%= symbol %>
                        </td>
                        <td>
                            <div style="display: flex;">
                                <% if (show_add_delete.length===0) { %>
                                    <form action="/watchlist/add" method="POST">
                                        <input type="hidden" name="stock_symbol" value="<%= symbol %>">
                                        <button type="submit"
                                            style="background-color: black; color: red; padding: 3px; font-size: 20px; margin: 5px;">Add
                                            to
                                            Watchlist</button>
                                    </form>
                                    <% } else { %>
                                        <form action="/watchlist/delete/<%= show_add_delete %>?_method=DELETE"
                                            method="POST">

                                            <button type="submit"
                                                style="background-color: black; color: red; padding: 3px; font-size: 20px; margin: 5px;">Delete
                                                from
                                                Watchlist</button>
                                        </form>
                                        <% } %>
                                            <form action="/download" method="GET">
                                                <input type="hidden" name="timing" value="<%= timing %>">
                                                <input type="hidden" name="stock_symbol" value="<%= symbol %>">
                                                <button
                                                    style="background-color: black; color: red; padding: 3px; font-size: 20px; margin: 5px;">Download
                                                    Data</button>
                                            </form>
                            </div>
                        </td>
                </tbody>
            </table>

            <canvas id="myChart" width="400" height="200" style="background-color: red; color: black;"></canvas>
            <var symbol="<%= symbol %>" id="symbolize"></var>
            <var frame="<%= timing %>" id="timize"></var>
            <var angling="<%= angle %>" id="angler"></var>
            <div style="display: flex;
            justify-content: space-between;">
                <div class="container mt-3" style="background-color: red; max-width: 50%;">
                    <p style="color: black; font-weight: bold; font-size: 18px;">COMPANY DESCRIPTION</p>
                    <div class="row">
                        <div class="col">
                            <div>
                                <p class="card-text text-wrap"
                                    style="font-size: 20px; font-weight: bold; color: black; padding: 40px;">
                                    <%= tempDataStore[0].Description %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="speedometer">
                    <p style="color: black; font-weight: bold; font-size: 18px;">MARKET SENTIMENT</p>
                    <div class="stick-figure"></div>
                    <div class="values">
                        <div class="value" style="color: black; font-weight: bold;">Bearish</div>
                        <div class="value" style="color: black; font-weight: bold;">Mild Bearish</div>
                        <div class="value" style="color: black; font-weight: bold;">Neutral</div>
                        <div class="value" style="color: black; font-weight: bold;">Mild Bullish</div>
                        <div class="value" style="color: black; font-weight: bold;">Bullish</div>
                    </div>
                </div>
            </div>
            <br>
            <p style="color: red; background-color: black; font-weight: bold; font-size: 20px;padding: 10px;">DETAILS
            </p>
            <table class="table table-bordered" style="background-color: red; color: black;">
                <thead>
                    <tr>
                        <th scope=" col">Name</th>
                        <th scope="col">Book Value</th>
                        <th scope="col">Sector</th>
                        <th scope="col">Market Capitalization</th>
                        <th scope="col">EPS</th>
                        <th scope="col">Dividend Per Share</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i<1; i++) { %>
                        <tr>
                            <td>
                                <%= tempDataStore[i].Name %>
                            </td>
                            <td>
                                <%= tempDataStore[i].BookValue %>
                            </td>
                            <td>
                                <%= tempDataStore[i].Sector %>
                            </td>
                            <td>
                                <%= tempDataStore[i].MarketCapitalization %>
                            </td>
                            <td>
                                <%= tempDataStore[i].EPS %>
                            </td>
                            <td>
                                <%= tempDataStore[i].DividendPerShare %>
                            </td>
                        </tr>
                        <% }; %>
                </tbody>
            </table>
            <table class="table table-bordered" style="background-color: red; color: black;">
                <thead>
                    <tr>
                        <th scope=" col">PEG ratio</th>
                        <th scope="col">Return on Equity</th>
                        <th scope="col">Gross Profit</th>
                        <th scope="col">52 Week High</th>
                        <th scope="col">52 Week Low</th>
                        <th scope="col">50 Day Moving Average</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i<1; i++) { %>
                        <tr>
                            <td>
                                <%= tempDataStore[i].PEGRatio %>
                            </td>
                            <td>
                                <%= tempDataStore[i].ReturnOnEquityTTM %>
                            </td>
                            <td>
                                <%= tempDataStore[i].GrossProfitTTM %>
                            </td>
                            <td>
                                <%= tempDataStore[i].WeekHigh %>
                            </td>
                            <td>
                                <%= tempDataStore[i].WeekLow %>
                            </td>
                            <td>
                                <%= tempDataStore[i].DayMovingAverage %>
                            </td>
                        </tr>
                        <% }; %>
                </tbody>
            </table>
            <% }else { %>
                <p>Search for a Stock</p>
                <% } %>
    </div>

    <a href="/watchlist" type="button" style="background-color: black; color: red; padding: 10px;">Back To WatchList</a>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="application/javascript" src="/script.js"></script>


</body>

</html>